[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
polars = "*"
minio = "*"
python-dotenv = "*"
sqlalchemy = "*"
pandas = "*"
psycopg2 = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.10"
